* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    width: 100%;
    height: 60px;
    background-color: #1e1e1e;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 40px;
}

.nav-right a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 14px;
    transition: 0.3s;
}

.nav-right a:hover {
    color: #00bcd4;
}

.logo{
    color: white;
}
.backImage{
    filter: blur(4.5px);
    opacity: 90%;
}

.hero {
    height: 100vh; /* ocupa 100% da altura da tela */
    width: 100%;

    background-image: url("https://tipsytiaras.com/wp-content/uploads/2024/11/403846418_712768877444779_7297590310412994477_n-e1732710506617-768x586.jpg");
    background-size: cover;         /* cobre a tela inteira */
    background-position: center;    /* centraliza */
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
}

.hero-content {
    position: relative; /* fica acima do overlay */
    color: white;
    text-align: center;
    z-index: 1;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

.hero-btn {
    padding: 12px 25px;
    background-color: #00bcd4;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.hero-btn:hover {
    background-color: #0097a7;
}