* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}


body::before {
    content: "";
    position: absolute;
    inset: 0;

    background: url("../images/trentwins.jpg") center/cover no-repeat;

    filter: blur(6px);
    transform: scale(1.1); 
    z-index: -1;
}

#loginDiv {
    background-color: rgba(30, 30, 30, 0.85);
    padding: 40px;
    border-radius: 15px;
    width: 320px;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

#loginForm {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#loginForm input {
    margin-bottom: 15px;
    padding: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
}

#loginForm button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #00bcd4;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

#loginForm button:hover {
    background-color: #0097a7;
}

#loginDiv a {
    margin-top: 15px;
    color: #00bcd4;
    text-decoration: none;
    font-size: 14px;
}

#loginDiv a:hover {
    text-decoration: underline;
}